{% extends 'basemod.html' %}
{% load crispy_forms_tags %}

{% block jumbo %}
<h1>Add a Podcast</h1>
{% endblock jumbo %}

{% block sidebar %}
<div class="list-group">
  <a href="{% url 'dashboard_with_pk' pk=request.user.pk %}" class="list-group-item">Go Back to Homepage</a>
  <a href="{% url 'addpodcast' %}" class="list-group-item active">Add a Podcast</a>
  <a href="{% url 'friendlist' pk=request.user.pk %}" class="list-group-item">View Friendslist</a>
  <a href="{% url 'userlist' %}" class="list-group-item">View Active Users</a>
</div>
{% endblock sidebar %}

{% block content %}
<div class="row">
  <div class="col-md-10 crispyform">
    <form method="POST">{% csrf_token %}
      {{ form|crispy }}
      <p>* indicates a mandatory field</p>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock content %}
