{% extends 'basedash.html' %}
{% load static %}

{% block jumbo %}
{% if owner == request.user %}
  <h1>Your Shared Podcasts</h1>
  <p>This is a list of your top shared podcasts. What you see here is what other users will see when they visit your page.</p>
{% else %}
  {% if object_list %}
    <h1>{{ owner }}'s Shared Podcasts'</h1>
  {% else %}
    <h1>{{ owner }} has not added any podcasts</h1>
  {% endif %}
{% endif %}
{% endblock jumbo %}

{% block sidebar %}
{% if object_list %}
  <div class="list-group">
    <a href="{% url 'addpodcast' %}" class="list-group-item">Add a Podcast</a>
    <a href="#" class="list-group-item">Find a Friend</a>
    <a href="#" class="list-group-item">Find a Random Podcast</a>
    <a href="{% url 'userlist' %}" class="list-group-item">View Active Users</a>
  </div>
{% endif %}
{% endblock sidebar %}


{% block content %}
  {% if podcast_list %}
    {% for pod in podcast_list %}
      <div class="{% cycle "col-md-3 content-left text-center" "col-md-3 content-midl text-center" "col-md-3 content-midr text-center" "col-md-3 content-right text-center" %}">
        <h4>{{ pod.title|title }}</h4>
        {% if pod.logo %}
          <img class="pod-logo" src="{{ pod.logo }}">
        {% endif %}
        <p><a class="btn btn-default detailsButton" href="{% url 'details_with_pk' pk=pod.pk %}" role="button">View details &raquo;</a></p>
      </div>
    {% endfor %}
  {% elif owner == request.user %}
    <p><a class="btn btn-default" href="{% url 'addpodcast' %}" role="button">Add a Podcast &raquo;</a></p>
  {% else %}
    <p><a class="btn btn-default" href="{% url 'userlist' %}" role="button">Return to Userlist &raquo;</a></p>


  {% endif %}
{% endblock content %}
