{% extends 'basedash.html' %}
{% load static %}

{% block jumbo %}
<h1>Your Shared Podcasts</h1>
<p>This is a list of your top shared podcasts. What you see here is what your PodCommunity will see when they visit your page.</p>
{% endblock jumbo %}

<div class="row">
{% block podlist %}
<div class="col-xs-12">
  {% if podcast_list %}
  {% for pod in podcast_list %}
      <h2>{{ pod.title|title }}</h2>
      {% if pod.logo %}
        <img class="pod-logo" src="{{ pod.logo }}">
      {% endif %}
      <p><a class="btn btn-default detailsButton" href="{% url 'details_with_pk' pk=pod.pk %}" role="button">View details &raquo;</a></p>
  {% endfor %}
  {% else %}
    <p><a class="btn btn-default" href="{% url 'addpodcast' %}" role="button">Add a Podcast &raquo;</a></p>
  {% endif %}
</div><!--/.col-xs-6.col-lg-4-->
{% endblock podlist %}
</div>



{% block sidebar %}
{% endblock sidebar %}


{% block content %}
{% endblock content %}
