{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Details for {{ object.title }}</h1>
{% endblock jumbo %}


{% block sidebar %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item active">Link</a>
    <a href="#" class="list-group-item">Add a Podcast</a>
    <a href="#" class="list-group-item">Edit Details</a>
    <a href="#" class="list-group-item">Delete a Podcast</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
  </div>
</div>
{% endblock sidebar %}

{% block content %}
{% if object.logo %}
  <div class="float left">
    <img class="pod-logo" src="{{ object.logo }}" alt="Podcast Logo">
  </div>
{% endif %}
{% if object.url %}
  <h3>Podcast Homepage</h3>
  <div class="well"><a href="{{ object.url }}"/>{{ object.url }}</a></div>
{% endif %}
<h3>Description</h3>
  <div class="well">{{ object.description }}</div>
{% if object.favorite_episode %}
<h3>Favorite Episode</h3>
  <div class="well"><a href="{{ object.favorite_episode }}"/>{{ object.favorite_episode }}</a></div>
{% endif %}
{% if object.saved_clip %}
<h3>Saved Clip</h3>
  <div class="well"><a href="{{ object.saved_clip }}"/>{{ object.saved_clip }}</a></div>
{% endif %}
{% if object.shownotes %}
<h3>Shownotes</h3>
  <div class="well"><a href="{{ object.shownotes }}"/>{{ object.shownotes }}</a></div>
{% endif %}

{% endblock content %}
