{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Details for {{ object.title }}</h1>
{% endblock jumbo %}


{% block sidebar %}
<div class="list-group">
  <a href="{% url 'dashboard_with_pk' pk=request.user.pk %}" class="list-group-item">Go Back to Homepage</a>
  {% if request.user != object.user %}
  <a href="{% url 'addthispodcast' pk=object.pk %}" class="list-group-item">Add this Podcast</a>
  {% endif %}
  <a href="{% url 'userlist' %}" class="list-group-item">View Active Users</a>
  <a href="{% url 'friendlist' pk=request.user.pk %}" class="list-group-item">View Friendslist</a>
{% endblock sidebar %}


{% block content %}
{% if object.logo %}
  <div class="float left">
    <img class="pod-logo" src="{{ object.logo }}" alt="Podcast Logo">
  </div>
{% endif %}
{% if object.url %}
  <h3>Podcast Homepage</h3>
  <div class="well"><a href="{{ object.url }}"/>{{ object.url }}</a></div>
{% endif %}
<h3>Description</h3>
  <div class="well">{{ object.description }}</div>
{% if object.favorite_episode %}
<h3>Favorite Episode</h3>
  <div class="well"><a href="{{ object.favorite_episode }}"/>{{ object.favorite_episode }}</a></div>
{% endif %}

{% if object.saved_clip %}
<h3>Saved Clip</h3>
  <div class="well"><a href="{{ object.saved_clip }}"/>{{ object.saved_clip }}</a></div>
{% endif %}
{% if object.shownotes %}
<h3>Shownotes</h3>
  <div class="well"><a href="{{ object.shownotes }}"/>{{ object.shownotes }}</a></div>
{% endif %}


<div class="row">
  <div class="col-xs-12">
{% if request.user == object.user %}
    <form action="{% url 'deletepodcast' pk=object.pk %}">
      <input class="btn btn-danger" type="submit" value="Delete Podcast">
      <a href="{% url 'editpodcast' pk=object.pk %}" class="btn btn-primary" role="button">Edit Details</a>
{% else %}
    <form action="{% url 'addthispodcast' pk=object.pk %}">
      <input class="btn btn-success" type="submit" value="Add this Podcast">
{% endif %}
    </form>
  </div>
</div>

{% endblock content %}
