{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Your Friendlist</h1>
{% endblock jumbo %}

{% block sidebar %}
<div class="list-group">
  <a href="{% url 'dashboard_with_pk' pk=request.user.pk %}" class="list-group-item">Go Back to Homepage</a>
  <a href="{% url 'addpodcast' %}" class="list-group-item">Add a Podcast</a>
  <a href="{% url 'userlist' %}" class="list-group-item">View Active Users</a>
  <a href="{% url 'friendlist' pk=request.user.pk %}" class="list-group-item active">View Friendslist</a>
 </div>
{% endblock sidebar %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if object_list %}
  <h3>Select a friend to view their shared podcasts</h3>
    <div class="well">
      <ul>
        {% for obj in object_list %}
        <a href="{% url 'dashboard_with_pk' pk=obj.pk %}">
          <li><h4>{{ obj.username }}</h4></li>
        </a>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <h3>Your Friendlist is empty. Find friends by searching from the sidebar on the homepage, or by viewing the list of Active Users.</h3>
{% endif %}
{% endblock content %}
