{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Current List of Active Users</h1>
{% endblock jumbo %}

{% block sidebar %}

<div class="list-group">
  <a href="{% url 'dashboard_with_pk' pk=request.user.pk %}" class="list-group-item">Go Back to Homepage</a>
  <a href="{% url 'addpodcast' %}" class="list-group-item">Add a Podcast</a>
  <a href="{% url 'userlist' %}" class="list-group-item active">View Active Users</a>
  <a href="{% url 'friendlist' pk=request.user.pk %}" class="list-group-item">View Friendslist</a>
 </div>

{% endblock sidebar %}

{% block content %}
<h3>Select a user to view their shared podcasts</h3>
  <div class="well">
    <ul>
    {% for obj in object_list %}
      <a href="{% url 'dashboard_with_pk' pk=obj.pk %}">
        <li><h4>{{ obj.username }}</h4></li>
      </a>
    {% endfor %}
    </ul>
  </div>
{% endblock content %}
