{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Current List of Active Users</h1>
{% endblock jumbo %}

{% block sidebar %}
  <!-- <div class="list-group">
    <a href="#" class="list-group-item">Add a Friend</a>
    <a href="#" class="list-group-item">Find a Friend</a>
    <a href="#" class="list-group-item active">View Active Users</a>
  </div> -->

<div class="list-group">
  <a href="{% url 'addpodcast' %}" class="list-group-item">Add a Podcast</a>
  <!-- <a href="#" class="list-group-item">Find a Random Podcast</a> -->
  <a href="{% url 'userlist' %}" class="list-group-item">View Active Users</a>
  {% if owner %}
  <form method="GET" action="{% url 'dashboard_with_pk' pk=owner.pk %}">
  {% else %}
  <form method="GET" action="{% url 'dashboard_with_pk' pk=user.pk %}">
  {% endif %}
      <div class="input-group">
        {% if flag == 1 %}
        <input type="text" class="form-control" name="q" placeholder="User not found. Please try again."></b>
        {% else %}
        <input type="text" class="form-control" name="q" placeholder="Search for a friend">
        {% endif %}
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div><!-- /input-group -->
    </form>
 </div>
{% endblock sidebar %}

{% block content %}
<h3>Select a user to view their shared podcasts</h3>
  <div class="well">
    <ul>
    {% for obj in object_list %}
      <a href="{% url 'dashboard_with_pk' pk=obj.pk %}">
        <li><p>{{ obj.username }}</p></li>
      </a>
    {% endfor %}
    </ul>
  </div>
{% endblock content %}
