{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Current List of Active Users</h1>
{% endblock jumbo %}

{% block sidebar %}
  <div class="list-group">
    <a href="#" class="list-group-item">Add a Friend</a>
    <a href="#" class="list-group-item">Find a Friend</a>
    <a href="#" class="list-group-item active">View Active Users</a>
  </div>
{% endblock sidebar %}

{% block content %}
<h3>Select a User to View Shared Podcasts</h3>
  <div class="well">
    <ul>
    {% for obj in object_list %}
      <a href="{% url 'dashboard_with_pk' pk=obj.pk %}">
        <li><h2>{{ obj.username }}</h2></li>
      </a>
    {% endfor %}
      <li><h2><a href="#">Add a Friend</a></h2></li>
    </ul>
  </div>
{% endblock content %}
