{% extends 'basedash.html' %}
{% load static %}

{% block jumbo %}
<h1>Your Shared Podcasts</h1>
<p>This is a list of your top shared podcasts. What you see here is what your PodCommunity will see when they visit your page.</p>
{% endblock jumbo %}

<div class="row">
{% block podlist %}
<div class="col-xs-12">
  {% if podcast_list %}
    {% for pod in podcast_list %}
        <h2>{{ pod.title }}</h2>
        <p>{{ pod.description }}</p>
        <p><a class="btn btn-default" href="{% url 'details_with_pk' pk=pod.pk %}" role="button">View details &raquo;</a></p>
    {% endfor %}
  {% else %}
  <p><a class="btn btn-default" href="{% url 'addpodcast' %}" role="button">Add a Podcast &raquo;</a></p>
  <!-- <h2>This user has not added any podcasts to their favorites list yet.</h2> -->
  {% endif %}
</div><!--/.col-xs-6.col-lg-4-->
{% endblock podlist %}
</div>


{% block sidebar %}
<!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item active">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
  </div>
</div> -->
<div class="col-xs-6 col-sm-3">
  <img src="{% static 'images/26899.svg' %}">
</div>
{% endblock sidebar %}


{% block content %}
{% endblock content %}
