{% extends 'basedash.html' %}

{% block jumbo %}
<h1>Your Shared Podcasts</h1>
<p>This is a list of your top shared podcasts. What you see here is what your PodCommunity will see when they visit your page.</p>
{% endblock jumbo %}

<div class="row">
{% block podlist %}
{% for obj in object_list %}
  <div class="col-xs-6 col-lg-4">
    <h2>{{ obj.title }}</h2>
    <p>{{ obj.description }}</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
{% endfor %}
{% endblock podlist %}
</div>



{% block sidebar %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item active">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
  </div>
</div>
</div>
{% endblock sidebar %}


{% block content %}
{% endblock content %}
