{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Details for {{ object.title }}</h1>
{% endblock jumbo %}


{% block sidebar %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item active">Link</a>
    <a href="#" class="list-group-item">Add a Podcast</a>
    <a href="#" class="list-group-item">Edit Details</a>
    <a href="#" class="list-group-item">Delete a Podcast</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
  </div>
</div>
{% endblock sidebar %}

{% block content %}
<div class="float left">
  <img class="pod-logo" src="{{ object.logo }}" alt="Podcast Logo">
</div>
<h3>Description: </h3>
  <div class="well">{{ object.description }}</div>
<h3>Favorite Episode: </h3>
  <div class="well">{{ object.favorite_episode }}</div>
<h3>Saved Clips: </h3>
  <div class="well">
    <ul>
      {% if object.saved_clips1 != None %}
        <li>{{ object.saved_clips1 }}</li>
        {% else %}
          <li><a href="#">Add a saved clip</a></li>
      {% endif %}
        {% if object.saved_clips2 != None %}
          <li>{{ object.saved_clips2 }}</li>
          {% else %}
            <li><a href="#">Add a saved clip</a></li>
        {% endif %}
          {% if object.saved_clips3 != None %}
            <li>{{ object.saved_clips3 }}</li>
            {% else %}
              <li><a href="#">Add a saved clip</a></li>
          {% endif %}
    </ul>
  </div>
<h3>Related Content: </h3>
  <div class="well">
    <ul>
      <li>Links: </li>
      <li>Saved Shownotes: </li>
      <li>Other: </li>
    </ul>
  </div>
{% endblock content %}
