{% extends 'basemod.html' %}

{% block jumbo %}
<h1>Your PodCommunity</h1>
{% endblock jumbo %}

{% block sidebar %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item active">Link</a>
    <a href="#" class="list-group-item">Add a Friend</a>
    <a href="#" class="list-group-item">Delete a Friend</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
  </div>
</div>
{% endblock sidebar %}

{% block content %}
<h3>Friends</h3>
  <div class="well">
    <ul>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
      <li><a href="#">Add a Friend</a></li>
    </ul>
  </div>

{% endblock content %}
